body {
  margin: 0;
  background-color: #ffffff;
  justify-items: center;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  color: #ffffff;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #785de4;
  padding-bottom: 20px;
}

.input-field > div {
  text-align: center;
  margin: 0;
}

.conversion-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f4f4f4;
  padding-bottom: 20px;
}
.conversion-field > div {
  text-align: center;
  margin: 0.5rem 1rem;
  border-radius: 5px 0 0 0;
  background-color: #ffffff;
}

.measurement-type {
  color: #5a537b;
}
.conversion-statement {
  color: #353535;
  font-size: x-small;
  font-weight: 400;
}

#amount-input {
  margin-bottom: 10px;
  width: 20%;
  background-color: #6943ff;
  border: 1px, solid, #b295ff;
  border-radius: 5px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  font-size: xx-large;
}

button {
  font-size: small;
  background-color: #ffffff;
  border: 0px, solid, purple;
  border-radius: 5px;
  padding: 2% 5%;
  color: #3d3d3d;
}

.conversion-section {
  width: max-content;
  /* background-color: #FFFFFF; */
}

.conversion-type-header {
  color: #5a537b;
  max-width: 250px;
}

.conversion-border {
  border: 0px solid #353535;
}

/* For Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Important to remove default margin in some older versions */
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
